# Capstone Project - Car Accident Severity

https://www.coursera.org/learn/applied-data-science-capstone

A description of the problem and a discussion of the background. 

A description of the data and how it will be used to solve the problem.

# Introduction: Business Understanding/Problem

In this project we are trying to determine the severity of a car accident in Seattle and how we can prevent severe car accidents.

Dispatch has a tough enough job already. We are interested in helping dispatches' day to day job with a recommender system to determine the severity of a car accident to determine law enforcement response and medical response.

We will generate a model from our data analysis to better predict the severity of the accident. We hope that this will better help dispatch, allocate the right amount of resource to the issue at hand, and protect the citizens of Seattle

# Data understanding

Let's look at the data to determine what we have.

In [1]:
# The code was removed by Watson Studio for sharing.

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

There are 37 attributes we can choose from to use in our model to predict the severity code

In [2]:
df_data['SEVERITYCODE'].value_counts(dropna=False)

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

According to the metadata, there should be 5 types of severity.
* 3-fatality
* 2b-serious injury
* 2-injury
* 1-property damage
* 0-unknown

It is concerning that the data provided only has severity types 1 and 2. This may severely impact the machine learning model and does not provide us with sufficient data to determine all the types of severity.

It has been determined that the above dataset is insufficient so we have went out and found a more updates data set from Kaggle

https://www.kaggle.com/jonleon/seattle-sdot-collisions-data

In [3]:
# The code was removed by Watson Studio for sharing.

,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,-122.392900,47.648646,1,332176,333676,EA40602,Matched,Intersection,26581.0,28TH AVE W AND W DRAVUS ST,...,Dry,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N
1,-122.284487,47.603308,2,328504,330004,EA10294,Unmatched,Block,NaN,LAKE WASHINGTON BLVD BETWEEN LAKESIDE AVE AND ...,...,NaN,NaN,NaN,NaN,NaN,,NaN,0,0,Y
2,-122.338480,47.619119,3,329091,330591,EA15604,Matched,Block,NaN,WESTLAKE AVE N BETWEEN DENNY WAY AND JOHN ST,...,Dry,Daylight,NaN,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
3,-122.358307,47.653110,4,328274,329774,EA07215,Matched,Block,NaN,NW 36TH ST BETWEEN 1ST AVE NW AND LEARY WAY NW,...,Wet,Dark - Street Lights On,NaN,NaN,NaN,32,One parked--one moving,0,0,Y
4,-122.296519,47.733786,5,329003,330503,E986969,Matched,Intersection,35990.0,30TH AVE NE AND NE 145TH ST,...,Dry,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N

In [4]:
df_data_updated['SEVERITYCODE'].value_counts(dropna=False)

1      137297
2       58607
0       21593
2b       3090
3         349
NaN         1
Name: SEVERITYCODE, dtype: int64

Alright! This is more like it!

We will be using the following attributes to determine the severity code:
* COLLISIONTYPE
* PERSONCOUNT
* PEDCOUNT
* PEDCYLCOUNT
* VEHCOUNT
* JUNCTIONTYPE

Some other attributes we may also dwell is the weather and surrounding conditions such as:
* WEATHER
* ROADCOND
* LIGHTCOND